Repository lyn-kim/c1121-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

completed dom events exercise
  dom-events/.eslintrc
  dom-events/.gitkeep
  dom-events/.npmrc
  dom-events/buttons.html
  dom-events/buttons.js
  dom-events/document.html
  dom-events/document.js
  dom-events/styles.css
Due: stylelint --fix, eslint --fix

completed dom manipulation exercise
  dom-manipulation/.gitkeep
  dom-manipulation/.npmrc
  dom-manipulation/index.html
  dom-manipulation/main.js
  dom-manipulation/styles.css
Due: stylelint --fix, eslint --fix

revised capitalized exercise
  string-manipulation-1/src/capitalize.js
  string-manipulation-1/src/is-vowel.js
Due: eslint --fix

revised tail exercise
  array-manipulation-1/src/tail.js
Due: eslint --fix

revised is-vowel exercise
  string-manipulation-1/src/is-vowel.js
Due: eslint --fix

completed css transforms exercise
  css-transforms/.gitkeep
  css-transforms/.npmrc
  css-transforms/index.html
  css-transforms/pokeball.png
  css-transforms/styles.css
Due: stylelint --fix

completed javascript lightbulb exercise
  javascript-light-bulb/.gitkeep
  javascript-light-bulb/.npmrc
  javascript-light-bulb/index.html
  javascript-light-bulb/main.js
  javascript-light-bulb/styles.css
Due: stylelint --fix, eslint --fix

started javascript modal exercise
  javascript-modal/.gitkeep
  javascript-modal/.npmrc
  javascript-modal/index.html
  javascript-modal/main.js
  javascript-modal/styles.css
Due: stylelint --fix, eslint --fix

revised javascript lightbulb exercise to use boolean value for condition
  javascript-light-bulb/main.js
Due: eslint --fix

completed javascript modal exercise
  javascript-modal/index.html
  javascript-modal/main.js
  javascript-modal/styles.css
Due: stylelint --fix, eslint --fix

completed css transitions exercise
  css-transitions/.gitkeep
  css-transitions/.npmrc
  css-transitions/images/001.png
  css-transitions/images/004.png
  css-transitions/images/007.png
  css-transitions/index.html
  css-transitions/styles.css
Due: stylelint --fix

completed javascript forms exercise
  javascript-forms/.eslintrc
  javascript-forms/.gitkeep
  javascript-forms/.npmrc
  javascript-forms/form-events.html
  javascript-forms/form-events.js
  javascript-forms/form-values.html
  javascript-forms/form-values.js
  javascript-forms/styles.css
Due: stylelint --fix, eslint --fix

relocated submit code block to form-values file
  javascript-forms/form-events.js
  javascript-forms/form-values.js
Due: eslint --fix

revised condition for lightSwitch and create variable for boolean value
  javascript-light-bulb/main.js
Due: eslint --fix

revised functions to run without if statement
  javascript-modal/main.js
Due: eslint --fix

revised form-values file to rename properties without capitalized letters
  javascript-forms/form-values.js
Due: eslint --fix

developed basic function for renderPokemon
  dom-creation/.eslintrc
  dom-creation/.gitkeep
  dom-creation/.npmrc
  dom-creation/images/blastoise.png
  dom-creation/images/bulbasaur.png
  dom-creation/images/charizard.png
  dom-creation/images/charmander.png
  dom-creation/images/charmeleon.png
  dom-creation/images/ivysaur.png
  dom-creation/images/squirtle.png
  dom-creation/images/venusaur.png
  dom-creation/images/wartortle.png
  dom-creation/index.html
  dom-creation/main.js
  dom-creation/styles.css
Due: stylelint --fix, eslint --fix

in-progress commit
  dom-creation/main.js
Due: eslint --fix

completed css media queries exercise
  css-media-queries/.gitkeep
  css-media-queries/.npmrc
  css-media-queries/at-media.html
  css-media-queries/breakpoints.html
  css-media-queries/images/001.png
  css-media-queries/images/004.png
  css-media-queries/images/007.png
  css-media-queries/images/025.png
  css-media-queries/images/039.png
  css-media-queries/images/104.png
  css-media-queries/meta-viewport.html
  css-media-queries/pokemon.css
  css-media-queries/reset.css
Due: stylelint --fix

removed 'screen and' from media queries
  css-media-queries/at-media.html
  css-media-queries/breakpoints.html
  css-media-queries/meta-viewport.html
Due: none

completed dom-creation exercise
  dom-creation/main.js
Due: eslint --fix

completed truncated exercise
  string-manipulation-2/.eslintrc
  string-manipulation-2/.gitkeep
  string-manipulation-2/.npmrc
  string-manipulation-2/index.html
  string-manipulation-2/src/capitalize-word.js
  string-manipulation-2/src/capitalize-word.test.js
  string-manipulation-2/src/capitalize-words.js
  string-manipulation-2/src/capitalize-words.test.js
  string-manipulation-2/src/first-chars.js
  string-manipulation-2/src/first-chars.test.js
  string-manipulation-2/src/last-chars.js
  string-manipulation-2/src/last-chars.test.js
  string-manipulation-2/src/num-vowels.js
  string-manipulation-2/src/num-vowels.test.js
  string-manipulation-2/src/ransom-case.js
  string-manipulation-2/src/ransom-case.test.js
  string-manipulation-2/src/swap-chars.js
  string-manipulation-2/src/swap-chars.test.js
  string-manipulation-2/src/truncate.js
  string-manipulation-2/src/truncate.test.js
Due: eslint --fix

completed dom event delegation exercisee
  dom-event-delegation/.eslintrc
  dom-event-delegation/.gitkeep
  dom-event-delegation/.npmrc
  dom-event-delegation/index.html
  dom-event-delegation/main.js
  dom-event-delegation/styles.css
Due: stylelint --fix, eslint --fix

revised .remove() to use variable parent
  dom-event-delegation/main.js
Due: eslint --fix

completed javascript view swapping exercise
  javascript-view-swapping/.gitkeep
  javascript-view-swapping/.npmrc
  javascript-view-swapping/images/css.png
  javascript-view-swapping/images/html.png
  javascript-view-swapping/images/javascript.png
  javascript-view-swapping/index.html
  javascript-view-swapping/main.js
  javascript-view-swapping/styles.css
Due: stylelint --fix, eslint --fix

started typing tutor exercise
  javascript-typing-tutor/.gitkeep
  javascript-typing-tutor/.npmrc
  javascript-typing-tutor/index.html
  javascript-typing-tutor/main.js
  javascript-typing-tutor/styles.css
Due: stylelint --fix, eslint --fix

no changes
  javascript-typing-tutor/main.js
Due: eslint --fix

progress commit
  string-manipulation-2/src/capitalize-word.js
  string-manipulation-2/src/ransom-case.js
Due: eslint --fix

changed event listener element to document
  javascript-typing-tutor/main.js
Due: eslint --fix

completed responsive layout exercise
  css-responsive-layout/.gitkeep
  css-responsive-layout/.npmrc
  css-responsive-layout/images/dk.png
  css-responsive-layout/images/fox.png
  css-responsive-layout/images/kirby.png
  css-responsive-layout/images/link.png
  css-responsive-layout/images/mario.png
  css-responsive-layout/images/ness.png
  css-responsive-layout/images/pikachu.png
  css-responsive-layout/images/samus.png
  css-responsive-layout/images/yoshi.png
  css-responsive-layout/index.html
  css-responsive-layout/styles.css
Due: stylelint --fix

deleted extra event.target.match conditional
  javascript-view-swapping/main.js
Due: eslint --fix

completed javascript and json exercise
  javascript-and-json/.eslintrc
  javascript-and-json/.gitkeep
  javascript-and-json/.npmrc
  javascript-and-json/index.html
  javascript-and-json/main.js
Due: eslint --fix

added boolean variable to condition
  javascript-light-bulb/main.js
Due: eslint --fix

completed javascript local storage exercise
  javascript-local-storage/.eslintrc
  javascript-local-storage/.gitkeep
  javascript-local-storage/.npmrc
  javascript-local-storage/data.js
  javascript-local-storage/index.html
  javascript-local-storage/main.js
  javascript-local-storage/styles.css
Due: stylelint --fix, eslint --fix

event function for-loop basic structure
  javascript-typing-tutor/index.html
  javascript-typing-tutor/main.js
Due: eslint --fix

updated checkLetter function
  javascript-typing-tutor/main.js
Due: eslint --fix

completed javascript typing tutor exercise
  javascript-typing-tutor/main.js
Due: eslint --fix

string manipulation 2 progress commit
  string-manipulation-2/src/capitalize-words.js
  string-manipulation-2/src/first-chars.js
  string-manipulation-2/src/last-chars.js
  string-manipulation-2/src/num-vowels.js
  string-manipulation-2/src/ransom-case.js
  string-manipulation-2/src/swap-chars.js
Due: eslint --fix

no changes
  string-manipulation-2/src/swap-chars.js
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx}
